body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    background-color: #1F2128 ;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
}   
a {
    text-decoration: none;
    color: #FFFFFF;
}